* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/Images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", "Arial";
  overflow: hidden;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border: 6px double white;
  border-radius: 25px;
  padding: 50px 85px;
  padding-bottom: 30px;
  backdrop-filter: blur(6px);
}
h1 {
  margin-bottom: 15px;
}
input {
  margin-bottom: 15px;
  margin-top:10px;
  font-size: 15px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 105%;
  transition: all 0.35s;
}
input::placeholder {
  color: white;
  font-family: "Open Sans", "Arial";
}
input:focus {
  width: 115%;
  border-color: lightgray;
}
button {
  margin-top: 25px;
  margin-bottom: 5px;
  width: 100%;
  padding: 6px 0px;
  background: transparent;
  cursor: pointer;
  color: white;
  font-size: 15px;
  border: 3px solid white;
  border-radius: 15px;
  transition: all 0.40s;
}
button:hover {
  width: 110%;
  border-color: lightgray;
}
a {
  color: white;
  position: relative;
  text-decoration: none;
  margin-top: 20px;
}
a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: currentColor;
  transition: width 0.25s ease;
}

a:hover::after {
  width: 100%;
}